body{
    padding: 0;
    margin: 0;
}


.outer-nav{
    background-color: aqua;
    display: flex;
    padding: 15px;
    justify-content: space-around;
}
.search{
    padding: 10px;
    border-radius: 10px;
    border: 1px silver;
}
.outer-card{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 20px;
    justify-content: center
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid silver 1px;
    padding: 50px;
    background-color: beige;
    align-items: center;
    height: 110px;
    width: 110px;
}
.label{
    margin-right: 20px;}